<div class='row'>
	<div class="col-md-offset-1">
		<h3>Stock Name: {{model.stock.name}} Symbol: {{model.stock.symbol}}</h3>
	</div>
</div>
<div class='row'>
		{{candlestick-component  series=model}}
</div>

